.loyout_cell{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.fields{
  border: 1px gray solid;
  padding: 10px;
  margin-bottom: 3px;

  &__add{
    margin: 10px 20px;
  }
  &__remove{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page{

  &__header{
    position: relative;
    &::before{
      z-index: 10;
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f6f6f6;
      opacity: 0.7;
      content: "";
    }
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: black;
    font-weight: bold;

    &__date{
      display: flex;
      align-items: center;
      width: 30%;
      z-index: 20;
    }

    &__author{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30%;
      z-index: 20;
    }
  }

}

.event{
  &__title{
    display: flex;
    font-size: 1.875rem;
    padding-left: 2rem;
    margin: 0 0 1.875rem 0;
    text-transform: uppercase;
    font-weight: 900;
    word-wrap: break-word;
    letter-spacing: 1.6px;
  }

  &__description{
    padding-left: 2rem;
    padding-bottom: 2rem;
    text-align: start;
  }

  &__stage{

    &__description{
      padding-top: 1rem;
      padding-left: 2rem;
    }

    &__footer{
      display: flex;
      align-items: center;
    }
  }
}

.reg{
  &__form{
    padding-top: 30px;
  }
  &__submit{
    margin-bottom: 10px;
  }
}
